In [1]:
s='Reverse this string' #1 Declaring a string
s[::-1] #Reversing the string

'gnirts siht esreveR'

In [5]:
s = input('Please enter a string') #2 taking input as a string
if s == s[::-1]:  #Checking whether the string is equal to its reverse
    print('This string is a palindrome') #Displaying it as a palindrome if equal 
else:
    print('This string is not a palindrome') #Displaying it as not palindrome if not equal

Please enter a string reverse

This string is not a palindrome

In [6]:
s = 'Upper' #3 Declaring a string
print(s.upper()) #Converting and displaying it in upper case

UPPER

In [8]:
s = 'LOWER' #4Declaring a string
print(s.lower()) #Converting and displaying it in lower case

lower

In [9]:
s = 'Count the number of vowels in this string' #5 Declaring a string
count = 0 #Declaring a counter variable 
for item in s:  #Running a for loop to extract each element from the string
    if item.lower() in ('a','e','i','o','u'): #Checking if the element is a vowel
        count += 1 #Increasing the counter in case it is a vowel 
print(f'The number of vowels in this string is', count) #Displaying the number of vowels

The number of vowels in this string is 11

In [11]:
s = 'Count the number of consonants in this string' #6 Declaring a string
count = 0 #Declaring a counter variable 
for item in s: #Running a for loop to check the number of consonants
    if item.lower() not in ('a','e','i','o','u',' '):  #Checking if the element is a consonant
        count += 1  #Increasing the counter in case it is a consonant
print(f'The number of consonants in this string is', count) #Displaying the number of consonants

The number of consonants in this string is 26

In [13]:
s = 'Remove all whitespaces from this string' #7 Declaring a string
ws_removed = '' #Declaring an empty string which will store the string with no spaces
for item in s: #Extracting each element from the string
    if item != ' ': #Checking if the string is not equal to a space
        ws_removed += item #Concatenating the string without the spaces
print(ws_removed)  #Displaying the string without whitespace

Removeallwhitespacesfromthisstring

In [14]:
s = 'Find the length of this string' #8 Declaring a string
count = 0 #Declaring a counter variable
for item in s: #Extracting each element in s
    count += 1 #Increasing the count in case the 
print(f'The length of the string is', count)

The length of the string is 30

In [12]:
s = 'Check if this string contains a specific word' #9 Declaring a string, this string can be taken as input also
specific = input("Enter a word to check for a match:- ") #Taking an input of a word whose presence we want to check in the string
add = '' #Declaring an empty string which will store each word 
s = s + ' ' #Adding space towards the end of the string so that it moves to the next elif statement 
for item in s: #Extracting each letter from the string using for loop 
    if item != ' ': #until we dont encounter a space we add the letters to create a word 
        add += item
    elif add.lower() == specific.lower(): #As soon as we encounter a space we want check if the word is present
        print('The given word exists in the string') #Displaying a message in case the word is present 
        break #and breaking out of the loop 
    else: #In case the word does not match we delete the word stored in our check variable and the process 
        add = '' #starts all over again from extracting each letter of the next word.
if add == '': #If add is empty we know that the word is not present 
    print('The given word does not exist in the string') #Displaying the message that the word is not present

Enter a word to check for a match:-  string

The given word exists in the string

In [19]:
s = 'Replace a word in this string with another word' #10 Declaring a string, this string can be taken as input also
replace = input("Enter a word which you want to be replaced:- ") #Taking an input of a word which we want to replace
by = input('Enter a word with which you want to replace the word:- ') 
print(s.replace(replace, by)) #replacing a word by another one

Enter a word which you want to be replaced:-  with
Enter a word with which you want to replace the word:-  by

Replace a word in this string by another word

In [29]:
s = 'Count the occurrences of a word in a string' #11 Taking input
word = input("Enter a word whose occurrences you want to be checked:- ") #taking input 
s.lower().split().count(word) #Counting the number of instances of a word

Enter a word whose occurrences you want to be checked string

1

In [34]:
find = 'Find the first occurrence of a word in a string' #12 Taking input 
w = input('Enter a word whose first occurrence you want to check:- ') 
find = find.split() #Adding the words to a list 
find.index(w) #Checking the first occurrence of a word in a string

Enter a word whose first occurrence you want to check:-  a

5

In [28]:
last = 'Find the last occurrence of a word in a string' #13 Taking input 
w1 = input('Enter a word whose last occurrence you want to check:- ')
last1 = last.split()
last2 = last1[::-1]
count = 0
for item in last2:
    count += 1
    if item == w1:
        break
print("The last occurrence of the string is in", len(last1)+1-count)

Enter a word whose last occurrence you want to check:-  a

The last occurrence of the string is in 9

In [29]:
split = "Split this string into a list of words" #14
print(split.split())

['Split', 'this', 'string', 'into', 'a', 'list', 'of', 'words']

In [4]:
join = ['Join', 'this', 'list', 'of', 'words', 'into', 'a', 'string'] #15 
s = ''
for item in join:
    s += item + " "
print(s)

Join this list of words into a string

In [11]:
separate = "Separate the words in this string with underscores" #16
sep = ''
for item in separate:
    if item == ' ':
        sep += '_'
    else:
        sep += item
print(sep)

Separate_the_words_in_this_string_with_underscores

In [21]:
check = 'Check if this string starts with a specific word or phrase' #17
phrase = input('Enter a word or phrase to check if the string starts with it:- ').lower()
check1 = ''
i1 = 0
check = check.lower()
for item in check:
    if item == ' ':
        if check1 == phrase:
            i1 = 1
            break
    check1 += item
if i1 == 1:
    print('The word or phrase exists in the string')
else:
    print('The word or phrase does not exist in the string')

Enter a word or phrase to check if the string starts with it:-  check if this string

The word or phrase exists in the string

In [30]:
ends = 'Check if this string ends with a specific word or phrase' #18
ends1 = input('Enter a word or phrase to check if the string ends with it:- ').lower()
check2 = ''
i2 = 0
ends = ends.lower().split()
ends = ends[::-1]
for item in ends:
    check2 = item + ' ' + check2
    if check2.rstrip() == ends1:
        i2 = 1 
        break
if i2 == 1:
    print('The string ends with the given word/phrase')
else:
    print('The string does not end with the given word/phrase')

Enter a word or phrase to check if the string ends with it:-  word or phrase

The string ends with the given word/phrase

In [1]:
title = 'Convert this string to title case' #19
print(title.title())

Convert This String To Title Case

In [34]:
find = 'Find the longest word in this string' #20
long = 0
count = 0
word2 = ''
find = find+' '
for item in find:
    if item == ' ':
        if long > count:
            count = long
            long_word = word2
        word2 = ''
        long = 0
    else:
        long += 1
        word2 += item
print('The longest word is:', long_word)

The longest word is: longest

In [35]:
find2 = 'Find the shortest word in this string' #21
short = 0
counter = 100
word_2 = ''
find2 = find2 + ' '
for item in find2:
    if item == ' ':
        if long < counter:
            counter = long
            long_word = word2
        word2 = ''
        long = 0
    else:
        long += 1
        word2 += item
print('The shortest word is:', long_word)

The shortest word is: in

In [59]:
reversal = 'Reverse the order of words in this string'  #22
rev_2 = reversal.split()
rev_3 = rev_2[::-1]
order = ''
for item in rev_3:
    order = order + item + ' '
print (order.rstrip())

string this in words of order the Reverse

In [65]:
alp = 'Check if this string is alphanumeric' #23
alp.isalnum()

False

In [84]:
digits = 'Extract 456 all digits from this string 123' #24 
num = ''
for item in digits:
    if item.isnumeric():
        num += item
    elif item == ' ':
        num += ' '
    else:
        num = num.rstrip()
print(num)

 456 123

In [82]:
alpha = 'Extract all 123 alphabets from this 456 string' #25
bets = ''
for item in alpha:
    if item.isalpha():
        bets += item 
    elif item == ' ':
        bets += ' '
    else:
        bets = bets.rstrip()
print(bets)

Extract all alphabets from this string

In [86]:
upper = 'Count the Number of UpperCase Letters in this string' #26
count_1 = 0
for item in upper: 
    if item.isupper():
        count_1 += 1
print('The number of uppercase letters are ', count_1)

The number of uppercase letters are  5

In [87]:
lower = 'Count the Number of LowerCase Letters in this string' #27
count_2 = 0
for item in lower: 
    if item.islower():
        count_2 += 1
print('The number of lowercase letters are ', count_2)

The number of lowercase letters are  39

In [89]:
swap = 'Swap The Case of Each Character in This STRING' #28
case = '' 
for item in swap:
    if item.isupper():
        case += item.lower()
    else:
        case += item.upper()
print(case)

sWAP tHE cASE OF eACH cHARACTER IN tHIS string

In [95]:
remove = 'Remove a specific word from this string' #29
specific_1 = input("Enter the word to be removed: ").lower()
remove2 = remove.split()
for item in remove2:
    if item == specific_1:
        remove2.remove(item)
xremove = ''
for item in remove2:
    xremove += item + ' '
print(xremove.rstrip())

Enter the word to be removed:  from

Remove a specific word this string

In [25]:
#30 Check if the string is a valid email address or not 
email = 'guptashubham9331@gmail.com' #Declaring a string containing a potential email address
xcheck = ''
y = 0
if email[0] != '@': #This will check that the email does not start with '@'
    email2 = email.split('@')
    if len(email2) == 2: #This will check that the email does not contain more than one '@'
        for item in email2[1]:
            xcheck += item #Capturing only the domain and extension in the 'xcheck' variable. 
        for item2 in xcheck:
            if item2 == '.' and xcheck.index('.')+1 != len(xcheck): #This checks that the domain in the  
                print('Email is valid')  #email contains at least one '.' AND does not end with '.'
                break
            else:
                y += 1
        if len(xcheck) == y:
            print("Email is invalid") 
    else:
        print('Email is invalid')
else:
    print('Email is invalid')

Email is valid

In [29]:
username = 'guptashubham9331@gmail.com' #31 Extracting the username from the email address
user = username.split('@')
print('The username is', user[0])

The username is guptashubham9331

In [30]:
domain = 'guptashubham9331@gmail.com' #32 Extracting the username from the email address
dom = domain.split('@')
print('The domain name is', dom[1])

The username is gmail.com

In [34]:
replace = "Replace  multiple    spaces  in this      string with a single    space" #33
replace2 = replace.split()
concat = ''
for item in replace2:
    concat += item + ' '
print(concat.rstrip())

Replace multiple spaces in this string with a single space

In [47]:
url = 'https://google.com' #34 Check if a URL is valid 
xy = '' 
co = 0
url2 = url.split('.') #Splitting the url basis the presence of '.'
if len(url2) >= 2:  #If there are 2 or more splits this confirms the presence of '.'
    for xitem in url:
        xy += xitem
        co += 1
        if co == 8:
            if xy != 'https://': #Checking for the presence of 'https://'
                print('URL is invalid')
                break
            else:
                print('URL is valid')
                break
else:
    print('URL is invalid')

URL is valid

In [49]:
url = 'https://google.com' #35 
url2 = url.split(':')
print(url2[0])

https

In [52]:
freq = 'Find the frequency of each character in this string' #36
freq = freq.lower()
d = {}
for item in freq:
    if item in d:
        d[item] += 1
    else:
        d[item] = 1
print(d)

{'f': 3, 'i': 4, 'n': 4, 'd': 1, ' ': 8, 't': 4, 'h': 4, 'e': 5, 'r': 4, 'q': 1, 'u': 1, 'c': 4, 'y': 1, 'o': 1, 'a': 3, 's': 2, 'g': 1}

In [8]:
punc = "Remove all punctuations from ' this , string." #37 
punctuation = ''
for item in punc:
    if item.isalnum():
        punctuation += item
    elif item == ' ':
        punctuation += ' '
    else:
        punctuation = punctuation.rstrip()
print(punctuation.rstrip())

Remove all 123 punctuations from this string

In [11]:
digits_check = "123456" #38 
che = 0
for item in digits_check:
    if item.isnumeric(): #This will capture and increment the counter for all digits only
        che += 1
if che == len(digits_check): #If the number of digits present is equal to the total number of characters
    print('The string contains only digits') # that means the string contains only digits 
else:
    print('The string does not contain only digits')

The string contains only digits

In [31]:
alpha_check = "Check if this string contains only alphabets" #39  
check_1 = 0
for item in alpha_check:
    if item.isalpha() or item == ' ': #This will capture and increment the counter for all alphabets only
        check_1 += 1
if check_1 == len(alpha_check): #If the number of digits present is equal to the total number of characters
    print('The string contains only alphabets.') # that means the string contains only digits 
else:
    print('The string does not contain only alphabets.')

The string contains only alphabets.

In [40]:
convert = "Convert this string to a list of characters" #40 
list_char = []
for item in convert:
    list_char.append(item) #using append we can input every single character into the list 
print(list_char)

['C', 'o', 'n', 'v', 'e', 'r', 't', ' ', 't', 'h', 'i', 's', ' ', 's', 't', 'r', 'i', 'n', 'g', ' ', 't', 'o', ' ', 'a', ' ', 'l', 'i', 's', 't', ' ', 'o', 'f', ' ', 'c', 'h', 'a', 'r', 'a', 'c', 't', 'e', 'r', 's']

In [46]:
string_1 = 'abc def ghi 123456' #41 Check if two strings are anagrams.
string_2 = 'def ghi abc 12s3456' 
d1 = {}
d2 = {}
for item in string_1:
    if item in d1:
        d1[item] += 1
    else:
        d1[item] = 1
for item2 in string_2:
    if item2 in d2:
        d2[item2] += 1
    else:
        d2[item2] = 1
        
if d1 == d2:
    print('The strings are anagrams')
else:
    print('The strings are not anagrams')

The strings are not anagrams

In [47]:
import base64 #42 Encode a string using Caesar cipher
s = 'abc 1234'
base64.b64encode(s.encode('utf-8'))

b'YWJjIDEyMzQ='

In [48]:
import base64 #43 Encode a string using Caesar cipher
s = "b'YWJjIDEyMzQ='"
base64.b64decode(s.decode('utf-8'))

AttributeError: 'str' object has no attribute 'decode'

In [62]:
frequent = "Find the most frequent word in this string in" #44
stri = {}
frequent = frequent.split()
for item in frequent: 
    if item in stri:
        stri[item] += 1
    else:
        stri[item] = 1
print(max(stri, key=stri.get))

in

In [3]:
unique = "Find all unique words unique in this string in" #45 
uni_str = {}
unique = unique.split()
for item in unique:
    if item in uni_str:
        uni_str[item] += 1
    else:
        uni_str[item] = 1
print(list(uni_str.keys()))

['Find', 'all', 'unique', 'words', 'in', 'this', 'string']

In [8]:
syllables = 'Count the number of syllables in this string' #46 This code is copied from Stack Overflow 
count = 0 #The reason is, counting syllables would require to handle many edge cases, so I wanted to look 
vowels = "aeiouy"  #for a code that was simple and comparable to my learning stage in Python. Hence, picked 
syllables = syllables.lower() #this one. I understand the working behind the code. 
if syllables[0] in vowels:
    count += 1
for index in range(1, len(syllables)):
    if syllables[index] in vowels and syllables[index - 1] not in vowels:
        count += 1
        if syllables.endswith("e"):
            count -= 1
if count == 0:
    count += 1
print("The number of syllables in the string is", count)

The number of syllables in the string is 1

In [11]:
special = 'Check if this string ,,"__+ contains any special characters 123' #47
spec_count = 0
for item in special:
    if item.isalnum() is False and item != ' ':
        spec_count += 1
if spec_count > 0:
    print("The string contains special characters")
else:
    print("The string does not contain special characters")

The string contains special characters

In [2]:
nth_remove = 'Remove the nth word from this string' #48 
nth = int(input('Enter the nth number to remove a word with "0th" position assigned to the first word'))
nth_remove = nth_remove.split()
removed = []
for i in range(len(nth_remove)):
    if i != nth:
        removed.append(nth_remove[i])
removed_str = ''
for item in removed:
    removed_str += item + ' '
print(removed_str.rstrip())

Enter the nth number to remove a word with "0th" position assigned to the first word 1

Remove nth word from this string

In [4]:
nth_insert = 'Insert a word in the nth position in this string' #49
n_th = int(input('Enter the position to add a word in the nth position'))
nthword = input('Enter the word to be inserted')
nth_insert = nth_insert.split()
inserted = []
for i in range(len(nth_insert)):
    if i == n_th:
        inserted.append(nthword) #Inserting a word at the nth position
    inserted.append(nth_insert[i]) #Adding all the words to an empty list 
inserted_str = ''
for item in inserted:
    inserted_str += item + ' ' #Converting the list to a string
print(inserted_str.rstrip())

Enter the position to add a word in the nth position 3
Enter the word to be inserted toyota

Insert a word toyota in the nth position in this string

In [6]:
import csv  #50 Convert a csv string to a list of lists 
with open('CSVTest_File.csv', 'r') as read_obj: 
  
    # Return a reader object which will 
    # iterate over lines in the given csvfile 
    csv_reader = csv.reader(read_obj) 
  
    # convert string to list 
    list_of_csv = list(csv_reader) 
  
    print(list_of_csv)

[['This is a test ', 'file for the 50th question ', 'in the Python Assignment.'], ['1', '1', '1'], ['2', '2', '2'], ['3', '3', '3'], ['4', '4', '4'], ['5', '5', '5']]

In [ ]:
#The below code is from the Lists Problems.

In [11]:
integers = [] #1 Create a list with integers from 1 to 10
for j in range(1,11):
    integers.append(j)
print(integers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
length = [1,2,3,4,5] #2 Find the length of this list without using the length function
count_len = 0
for j in length:
    count_len += 1
print('The length of the list is: ', count_len)

The length of the list is:  5

In [15]:
append_list = [2, 'this', 3, 4, 5] #3 Append an element to the end of a list
append_list.append('678')
print(append_list)

[2, 'this', 3, 4, 5, '678']

In [18]:
ins_list = [1,2,3,4,5,6,7,8,9,10] #4 Insert an element at a specific index in a list
index = int(input("Enter the position where you want to insert the element"))
element_insert = input('Enter the element you want to insert:')
specific_list = []
for element in range(0, len(ins_list)):
    if element == index:
        specific_list.append(element_insert)
    specific_list.append(ins_list[element])
print(specific_list)

Enter the position where you want to insert the element 4
Enter the element you want to insert: 435

[1, 2, 3, 4, '435', 5, 6, 7, 8, 9, 10]

In [20]:
rem_list = [2, 4, 6, 8, 10, 'Remove', 'an', 'element'] #5 Remove an element from a list by its value
rem_list.remove('Remove')
print(rem_list)

[2, 4, 6, 8, 10, 'an', 'element']

In [21]:
ind_list = [1,2,3,4,5] #6 move an element from a list by its index
index = int(input('Enter the position of the element you want to remove'))
index_list = []
for i in range(0,len(ind_list)):
    if i == index:
        pass
    else:
        index_list.append(ind_list[i])
print(index_list)

Enter the position of the element you want to remove 3

[1, 2, 3, 5]

In [27]:
check_list = ['Check','1','2','3','4','5','Element'] #7 Check if an element exists in a list
elem = (input("Enter the element to check whether it exists in the string"))
c = 0
for item in check_list:
     if item == elem:
        c = 1
        print('The element exists in the list')
        break
if c== 0:
    print("the element does not exist in the list")

Enter the element to check whether it exists in the string 4

The element exists in the list

In [30]:
occur = ['Occurrence','1','2','3','4','5', '1','Element'] # 8 Find the index of the first occurrence 
#of an element in a list
occur.index('1')

1

In [34]:
count_occurrences = ['Occurrence','1','2','2','3','4','5','1','1','Element'] #9 Count 
# the occurrences of an element in a list 
count_ele = input('Enter the element whose number of occurrences we want to check')
t = 0
for item in count_occurrences:
    if item == count_ele:
        t += 1
print('The number of occurrences of the given element are:',t)

Enter the element whose number of occurrences we want to check 1

The number of occurrences of the given element are: 3

In [41]:
reversing = ['reverse', 'the', 'order', 'of', 'elements', 'in', 'this', 'list'] #10
print(reversing[7::-1])

['list', 'this', 'in', 'elements', 'of', 'order', 'the', 'reverse']

In [51]:
sort = [1,2,7,4,6,2,6,7,9,3,5,6,7,8,2,56,7,4,5735,346,345,345] #11 Sort in ascending order 
sort.sort()
print(sort)

[1, 2, 2, 2, 3, 4, 4, 5, 6, 6, 6, 7, 7, 7, 7, 8, 9, 56, 345, 345, 346, 5735]

In [52]:
sort = [1,2,7,4,6,2,6,7,9,3,5,6,7,8,2,56,7,4,5735,346,345,345] #12 Sort in descending order 
sort.sort(reverse=True)
print(sort)

[5735, 346, 345, 345, 56, 9, 8, 7, 7, 7, 7, 6, 6, 6, 5, 4, 4, 3, 2, 2, 2, 1]

In [61]:
create_even = [] #13 Create a list of even numbers from 1 to 20
for item in range(2, 21):
    if item %2 == 0:
        create_even.append(item)
print(create_even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [62]:
create_odd = [] #14 Create a list of odd numbers from 1 to 20
for item in range(0, 21):
    if item %2 == 1:
        create_odd.append(item)
print(create_odd)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [63]:
find_sum = [1,2,3,4,4,5,6,6,6] #15 Find the sum of all elements in a list
sum = 0
for item in find_sum:
    sum += item
print('The sum is:', sum)

The sum is: 37

In [64]:
find_max = [1,2,7,4,6,2,6,7,9,3,5,6,7,8,2,56,7,4,5735,346,345,345] #16 Find the max value in this list
max_val = 0
for item in find_max:
    if item>max_val:
        max_val = item
print('The maximum value is:',max_val)

The maximum value is: 5735

In [72]:
find_min = [1,2,7,4,6,2,6,7,9,3,5,6,7,-91,8,2,56,7,4,5735,346,345,345] #17 Find the min value in this list
min_val = 9999
for item in find_min:
    if item<min_val:
        min_val = item
print('The minimum value is:', min_val)

The minimum value is: -91

In [74]:
list_squares = [] #18 Create a list of squares of numbers from 1 to 10
for item in range(1,11):
    list_squares.append(item**2)
print(list_squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [75]:
import random  #19 Create a list of random numbers 
list_random = [] 
for i in range(10):
    list_random.append(random.randint(1,100))
print(list_random)

[13, 2, 29, 31, 90, 32, 98, 85, 15, 24]

In [77]:
duplicates = [1,2,7,4,6,2,6,7,9,3,5,6,7,-91,8,2,56,7,4,5735,346,345,345] #20 Remove duplicates from this list
duplicates2 = list(set(duplicates)) #since set contains unique values only, we type cast the list to a set 
#and back to a list to remove duplicates.
print(duplicates2)

[1, 2, 3, 4, 5, 6, 7, -91, 9, 8, 5735, 56, 345, 346]

In [80]:
list_1 = [1,2,3,4,54,5,6,7,8,9]  #21 Find the common elements between two lists.
list_2 = [6,3,7,8,12,34,45,66,88]
common = []
for item_1 in list_1:
    for item_2 in list_2:
        if item_1 == item_2:
            common.append(item_1)
print('The common elements are:', common)

The common elements are: [3, 6, 7, 8]

In [90]:
list_1a = [1,2,3,4,54,5,6,7,8,9]  #22 Find the difference between two lists.
list_2a = [6,3,7,8,12,34,45,66,88]
difference = []
diff_count = 0
list_3a = list_1a + list_2a
for item in list_3a:
    if item in list_1a and item not in list_2a:
        difference.append(item)
for item in list_3a:
    if item not in list_1a and item in list_2a:
        difference.append(item)
print('The different elements are:', difference)

The different elements are: [1, 2, 4, 54, 5, 9, 12, 34, 45, 66, 88]

In [91]:
list_1a = [1,2,3,4,54,5,6,7,8,9]  #23 Merge two lists.
list_2a = [6,3,7,8,12,34,45,66,88]
list_3a = list_1a + list_2a 
print(list_3a)

[1, 2, 3, 4, 54, 5, 6, 7, 8, 9, 6, 3, 7, 8, 12, 34, 45, 66, 88]

In [92]:
list_1a = [1,2,3,4,54,5,6,7,8,9] #24 Multiply all elements by 2
list_2x = []
for item in list_1a:
    list_2x.append(item*2)
print(list_2x)

[2, 4, 6, 8, 108, 10, 12, 14, 16, 18]

In [93]:
list_1a = [1,2,3,4,54,5,6,7,8,9] #25 Filter out even numbers from this list
even_list = []
for item in list_1a:
    if item%2 == 0:
        even_list.append(item)
print(even_list)

[2, 4, 54, 6, 8]

In [3]:
list_strings = ['1', '2', '3', '4', '5'] #26 Convert a list of strings to a list of integers 
list_int = []
for item in list_strings:
    list_int.append(int(item))
print(list_int)

[1, 2, 3, 4, 5]

In [4]:
list_integers = [1,2,3,4,5] #27 Convert a list of integers to a list of string
list_str = []
for item in list_integers:
    list_str.append(str(item))
print(list_str)

['1', '2', '3', '4', '5']

In [18]:
flat = [1,2,[1,2,3,4],[5,6],7,8] # 28 Flatten a nested list 
flattened = []
for item in flat:
    if type(item) == list:  #Checking whether the element within the list is also a list
        for i in item:  #Iterating over the elements within a list within a list.
            flattened.append(i) #Adding items to a separate list.
    else:
        flattened.append(item)
print(flattened)

[1, 2, 1, 2, 3, 4, 5, 6, 7, 8]

In [14]:
fibonacci = [0,1] # 29 Create a list of the first 10 Fibonacci numbers 
i = 1
for j in range(2, 10):
    if len(fibonacci) == 10:
        break
    else:
        fibonacci.append(i)
        i += fibonacci[j-1]
print(fibonacci)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [48]:
check_sort = [1,2,3,4,5,6,7] #30 Check if a list is sorted or not.
j = 0
for i in range(0, len(check_sort)):
    if i == 0:
        pass
    elif check_sort[i] >= check_sort[i-1]:
        j += 1
    else:
        j = 0
        break
if j != 0:
    print('The list is sorted')
else:
    print('The list is not sorted')

The list is sorted

In [49]:
rotate = [5,2,6,1,8] #31 Rotate a list to the left by 'n' positions
n = int(input('Enter the number to rotate the list from the nth position'))
rotate = rotate[n:] + rotate[:n]
print(rotate)

Enter the number to rotate the list from the nth position 2

[6, 1, 8, 5, 2]

In [50]:
rotate = [5,2,6,1,8] #32 Rotate a list to the right by 'n' positions
n = int(input('Enter the number to rotate the list from the nth position'))
rotate = rotate[-n:] + rotate[:-n]
print(rotate)

Enter the number to rotate the list from the nth position 2

[1, 8, 5, 2, 6]

In [59]:
prime = [] #33 Create a list of prime numbers up to 50 
a = 0
for i in range(2,51):
    for j in range (1, i+1):
        if i % j == 0:
            a += 1
    if a == 2:
        prime.append(i)
    a = 0
print(prime)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [4]:
split = [1,2,3,4,5,6,7,7] #34 Split a list into chunks of size n 
step = int(input('Enter the number of chunks for the list to be split into'))
start = 0
end = len(split) 
for i in range(start, end, step): 
    x = i 
    print(split[x:x+step])

Enter the number of chunks for the list to be split into 4

[1, 2, 3, 4]
[5, 6, 7, 7]

In [1]:
second = [1,2,7,4,6,8,2,56,7,4,5735,346,345,345] #35 Find the second largest number in a list
second.sort()
print('The second largest number is', second[len(second)-2])

The second largest number is 346

In [2]:
sq_replace = [1,2,7,4,6,8,2,56,7,4] #36 Replace every element within a list with its square 
square = []
for item in sq_replace:
    square.append(item*item)
print(square)

[1, 4, 49, 16, 36, 64, 4, 3136, 49, 16]

In [6]:
conv = [1,2,7,4,6,8,2,56,7,4] #37 Convert list to dictionary where elements = keys, indices = values
list_dict = {}
for i, val in enumerate(conv):
    list_dict[val] = i
print(list_dict)

{1: 0, 2: 6, 7: 8, 4: 9, 6: 4, 8: 5, 56: 7}

In [16]:
import random #38 Shuffle the elements of a list randomly
random1 = [1,2,3,4,5,6,7,8]
randomin = []
for item in random1:
    randomin.insert(random.randint(0,len(randomin)),item)
print(randomin)

[7, 3, 6, 2, 4, 1, 8, 5]

In [1]:
import math #39 Create a list of the first 10 factorial numbers
factorial = []  
for i in range(1, 11):
    factorial.append(math.factorial(i))
print(factorial)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [4]:
check_1 = [1,2,3,4,5,6,7,8,9]  #Check whether two lists have at least one element in common
check_2 = [10,11,12,13,14,15,16,17,3,18]
z = 0
for e in check_1:
    for f in check_2:
        if f == e:
            z = 1
            break
if z == 1:
    print('The list has at least one element in common')
else:
    print('The list does not have any element in common')

The list has at least one element in common

In [5]:
r = [1,2,3,4,5,6,7,8,9] #41 Remove all elements from a list 
r.clear()
print(r)

[]

In [7]:
negative = [1,2,3,4,-5,-6,-7,-8] #42 Replace negative numbers in a list with 0
n = []
for item in negative:
    if item < 0:
        n.append(0)
    else:
        n.append(item)
print(n)

[1, 2, 3, 4, 0, 0, 0, 0]

In [9]:
s = 'This is a list of words' #43 Convert a string into a list of words 
t = s.split()
print(t)

['This', 'is', 'a', 'list', 'of', 'words']

In [10]:
list_words = ['This', 'is', 'a', 'list', 'of', 'words'] #44 Convert a list of words into a string
str_words = ''
for item in list_words:
    str_words += item + ' '
print(str_words.rstrip())

This is a list of words

In [23]:
powers = [] #45 Create a list of the first n powers of 2
n = int(input("Enter the value upto which powers of 2 will be calculated"))
p = 2
for l in range(1, n+1):
    if l == 1:
        powers.append(2)
    else:
        for m in range(1, l):
            p = p * 2
        powers.append(p)
    p = 2
print(powers)

Enter the value upto which powers of 2 will be calculated 6

[2, 4, 8, 16, 32, 64]

In [1]:
find = ['Find', 'the', 'longest', 'string', 'in', 'this', 'list'] #46
y, z, s = 0, 1, ''
for item in find:
    for element in item:
        y += 1 
    if y > z:
        z = y
        s = item
    y = 0
print('The longest string is:-', s)

The longest string is:- longest

In [37]:
find_shortest = ['Find', 'the', 'shortest', 'string', 'in', 'this', 'list'] #47
y, z, s = 0, 100, ''
for item in find_shortest:
    for element in item:
        y += 1 
    if y < z:
        z = y
        s = item
    y = 0
print('The shortest string is:-', s)

The shortest string is:- in

In [18]:
n = int(input("Enter the value of n to receive n triangular numbers")) #48
j,k,tri = 1,1,[]
for i in range(1, n + 1):
    tri.append(k)
    j = j + 1 # Increasing j by 1
    k = k + j # Add value of j into k and update k
print(tri)

Enter the value of n to receive n triangular numbers 3

[1, 3, 6]

In [4]:
sub = [1,2,3,4,56,6,[1,2,3],4,4] #49 Check if a list contains another list as a subsequence
z = 0
for item in sub:
    if type(item) == list:
        z = 1
if z == 1:
    print('The list contains another list as a subsequence')
else:
    print('The list does not contain another list as a subsequence')

The list contains another list as a subsequence

In [6]:
swap = [1,2,3,4,5,6,7,8,8] #50 Swap two elements in a list by their indices
n1 = int(input('Enter the index of the element which needs to be changed'))
n2 = int(input('Enter the index of the element with which the exchange needs to be made'))
swapped = []
for i, val in enumerate(swap):
    if i == n1:
        swapped.append(swap[n2])
    elif i == n2:
        swapped.append(swap[n1])
    else:
        swapped.append(val)
print(swapped)

Enter the index of the element which needs to be changed 7
Enter the index of the element with which the exchange needs to be made 3

[1, 2, 3, 8, 5, 6, 7, 4, 8]

In [7]:
TUPLES

In [8]:
tu = (1,2,3,4,5) #1 Create a tuple with integers from 1 to 5
print(tu)

(1, 2, 3, 4, 5)

In [9]:
tup = (1,2,3,4,5) #2 Access the third element of a tuple 
print(tup[2])

3

In [1]:
len_t  = (1,2,3,4,5,5) #3 Find the length of a tuple without using the len() function 
count = 0 
for item in len_t:
    count += 1
print('The length of the tuple is', count)

The length of the tuple is 6

In [2]:
count_occ = (1,2,3,4,5,6,6,6,) #4 Count the occurrences of an element in a tuple 
elem = int(input('Enter the element whose occurrence is to be checked'))
d = 0
for item in count_occ:
    if item == elem:
        d += 1
print('The occurrence of the item is', d)

Enter the element whose occurrence is to be checked 6

The occurrence of the item is 3

In [4]:
check_index = (1,2,3,4,5,6) #5 Find the index of the first occurrence of an element
t1 = int(input('Enter the element whose first occurrence is to be checked:-'))
check_index.index(t1)

Enter the element whose first occurrence is to be checked:- 3

2

In [8]:
exists = (1,2,3,4,5,5) #6 Check if an element exists in a tuple 
t2, z = 3, 0
for item in exists:
    if item == t2:
        z = 1
if z == 1:
    print('Element exists')
else:
    print('Element does not exist')

Element exists

In [10]:
tuple_list = (1,2,3,4,5,6) #7 Convert a tuple to a list
print(list(tuple_list))

[1, 2, 3, 4, 5, 6]

In [11]:
list_tuple = [1,2,3,4,5,6] #8 Convert a list to a tuple 
print(tuple(list_tuple))

(1, 2, 3, 4, 5, 6)

In [12]:
unpack = (1,2,3) #9 Unpack the elements of a tuple into variables
(a,b,c) = unpack
print(a,b,c)

1 2 3

In [14]:
t_even = [] #10 Create a tuple of even numbers from 1 to 10
for i in range(1,11):
    if i % 2 == 0:
        t_even.append(i)
print(tuple(t_even))

(2, 4, 6, 8, 10)

In [15]:
t_odd = [] #11 Create a tuple of odd numbers from 1 to 10
for i in range(1,11):
    if i % 2 != 0:
        t_odd.append(i)
print(tuple(t_odd))

(1, 3, 5, 7, 9)

In [16]:
tup1 = (1,2,3,4) #12 Concatenate 2 tuples 
tup2 = (5,6,7,8) 
tup3 = tup1 + tup2
print(tup3)

(1, 2, 3, 4, 5, 6, 7, 8)

In [17]:
tu1 = (1,2,3,4,5) #13 Repeat a tuple 3 times 
tu2 = tu1 *3 
print(tu2)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [18]:
t_09 = () #14 Check if a tuple is empty 
if len(t_09) == 0:
    print('Tuple is empty')
else:
    print('Tuple has elements')

Tuple is empty

In [19]:
nest_tuple = (1,2,3,4,5,(1,2,3)) #15 create a nested tuple
print(nest_tuple)

(1, 2, 3, 4, 5, (1, 2, 3))

In [21]:
nest_tuple = (1,2,3,4,5,(1,2,3)) #16 Access the first element of a nested tuple 
for item in nest_tuple:
    if type(item) == tuple:
        print(item[0])

1

In [22]:
single = (1) #17 Create a tuple with a single element

In [24]:
tup_c1 = (1,2,3,4,5) #18 Compare 2 tuples 
tup_c2 = (6,7,8)
if tup_c1 < tup_c2:
    print(True)
else:
    print(False)

True

In [27]:
tup_del = (1,2,3,4) #19 Delete a tuple 
del tup_del

In [30]:
tup_slice = (1,2,3,4,5) #20 Slice a tuple 
print(tup_slice[:3])

(1, 2, 3)

In [32]:
tup_max = (1,2,3,4,5) #21 Find the maximum value in a tuple 
print('the max value is',max(tup_max))

the max value is 5

In [33]:
tup_min = (1,2,3,4,5) #22 Find the minimum value in a tuple 
print('the min value is',min(tup_min))

the min value is 1

In [36]:
str_tuple = "Convert to tuple" #23 Convert this string to a tuple of characters
tu = []
for item in str_tuple:
    if item != ' ':
        tu.append(item)
print(tuple(tu))

('C', 'o', 'n', 'v', 'e', 'r', 't', 't', 'o', 't', 'u', 'p', 'l', 'e')

In [37]:
tu_char = ('C', 'o', 'n', 'v', 'e', 'r', 't', ' ', 't', 'o', ' ', 't', 'u', 'p', 'l', 'e') #24 
s = ''
for item in tu_char:
    s = s+item
print(s)

Convert to tuple

In [49]:
a = ("Multiple", 123, 123.12, True) #25 Create a tuple from multiple data types 
print(a)

('Multiple', 123, 123.12, True)

In [61]:
tup1 = (1,2,3,2,5) #26 Check if 2 tuples are identical
tup2 = (2,4,2,5,1)
if tup1 == tup2:
    print('Tuples are identical')
else:
    print('Not identical')

Not identical

In [66]:
tup3 = (2,3,4,2,4,4,6,7,6,2,5) #27 Sort the elements of a tuple 
tup4 = list(tup3)
tup4.sort()
tup4 = tuple(tup4)
print(tup4)

(2, 2, 2, 3, 4, 4, 4, 5, 6, 6, 7)

In [68]:
tup_int = (1,2,3,4,5,6) #28 Convert a tuple of integers to a tuple of string
tup_list = []
for item in tup_int:
    tup_list.append(str(item))
tup_ = tuple(tup_list)
print(tup_)

('1', '2', '3', '4', '5', '6')

In [69]:
tup_str = ('1', '2', '3', '4', '5', '6') #29 Convert a tuple of strings to a tuple of integers 
tup_list = []
for item in tup_str:
    tup_list.append(int(item))
tup_ = tuple(tup_list)
print(tup_)

(1, 2, 3, 4, 5, 6)

In [70]:
t1_mer = (1,2,3) #30 Merge two tuples
t2_mer = (4,5,6)
t3_mer = t1_mer + t2_mer
print(t3_mer)

(1, 2, 3, 4, 5, 6)

In [73]:
tup_nest = (1,2,3,(1,2,3)) #31 Flatten a nested tuple 
tup_flat = []
for item in tup_nest:
    if type(item) == tuple:
        for i in item:
            tup_flat.append(i)
    else:
        tup_flat.append(item)
print(tuple(tup_flat))

(1, 2, 3, 1, 2, 3)

In [76]:
tup_prime = [] #32 Create a tuple of the first 5 prime numbers 
c = 0
for item in range(1, 20):
    for i in range (1, item+1):
        if item % i == 0:
            c += 1
    if c == 2:
        tup_prime.append(item)
    if len(tup_prime) == 5:
        break
    c = 0
print(tuple(tup_prime))

(2, 3, 5, 7, 11)

In [6]:
tup_pali = (1,2,3,2,1) #33 Check if a tuple is a palindrome 
rev_tup = tup_pali[::-1]
if rev_tup == tup_pali:
    print('The tuple is a palindrome')
else:
    print('The tuple is not a palindrome')

The tuple is a palindrome

In [7]:
tup_sq = [] #34 Create a tuple of squares of numbers from 1 to 5 
for item in range(1, 6):
    tup_sq.append(item**2)
print(tuple(tup_sq))

(1, 4, 9, 16, 25)

In [9]:
tup_even_f = (1,2,3,4,5,6,7) #35 Filter out all even numbers from a tuple 
tup_even = []
for item in tup_even_f:
    if item %2 == 0:
        tup_even.append(item)
print('The even numbers are', tuple(tup_even))

The even numbers are (2, 4, 6)

In [11]:
tup_multiply = (1,2,3,4,5) #36 Multiply all elements in a tuple by 2
multiply_list = []
for item in tup_multiply:
    multiply_list.append(item*2)
print(tuple(multiply_list))

(2, 4, 6, 8, 10)

In [12]:
import random #37 Create a Tuple of random numbers 
random_list = []
for item in range(1,10):
    random_list.append(random.randint(1,100))
print(tuple(random_list))

(74, 9, 67, 18, 38, 3, 47, 26, 12)

In [2]:
tup_sort = (1,2,3,4,6,43,3,23) #38 Check if a tuple is sorted 
list_sort = list(tup_sort)
list_sorted = list_sort.sort()
if list_sort == list_sorted:
    print('The tuple is sorted')
else:
    print('The list is not sorted')

The list is not sorted

In [3]:
tup_rotate = (5,2,6,1,8) #39 Rotate a tuple to the left by 'n' positions
tup_rotate = list(tup_rotate)
n = int(input('Enter the number to rotate the list from the nth position'))
tup_rotate = tup_rotate[n:] + tup_rotate[:n]
print(tup_rotate)

Enter the number to rotate the list from the nth position 2

[6, 1, 8, 5, 2]

In [4]:
rotate = (5,2,6,1,8) #40 Rotate a tuple to the right by 'n' positions
rotate = list(rotate)
n = int(input('Enter the number to rotate the list from the nth position'))
rotate = rotate[-n:] + rotate[:-n]
print(rotate)

Enter the number to rotate the list from the nth position 4

[2, 6, 1, 8, 5]

In [3]:
fib_list = [0,1] # 41 Create a list of the first 5 Fibonacci numbers 
i = 1
for j in range(2, 10):
    if len(fib_list) == 5:
        break
    else:
        fib_list.append(i)
        i += fib_list[j-1]
print(tuple(fib_list))

(0, 1, 1, 2, 3)

In [4]:
user = tuple(input("Pls enter content to be converted to tuple")) #42 Create a tuple from user input
print(user)

Pls enter content to be converted to tuple as.kdjfbn

('a', 's', '.', 'k', 'd', 'j', 'f', 'b', 'n')

In [9]:
swap_tup = (1,2,3,4,5) #43 Swap two elements within a tuple 
swap_list = []
swap_tup = list(swap_tup)
ind1 = int(input('Enter the index of the element to be swapped'))
ind2 = int(input('Enter the index of the element to be swapped with'))
for i, val in enumerate(swap_tup):
    if i == ind1:
        swap_list.append(swap_tup[ind2])
    elif i == ind2:
        swap_list.append(swap_tup[ind1])
    else:   
        swap_list.append(val)
print(tuple(swap_list))

Enter the index of the element to be swapped 2
Enter the index of the element to be swapped with 4

(1, 2, 5, 4, 3)

In [11]:
rev_tup = (1,2,3,4,5) #44 Reverse the elements of this tuple 
rev_tup = list(rev_tup) 
rev_tup = rev_tup[::-1]
print(tuple(rev_tup))

(5, 4, 3, 2, 1)

In [14]:
n_2 = int(input("Enter the number to print the first n powers of 2")) #45 Tuple for first n powers of 2
powers = []
for item in range(1, n_2+1):
    powers.append(2**item)
print(tuple(powers))

Enter the number to print the first n powers of 2 5

(2, 4, 8, 16, 32)

In [16]:
find_tup = ('Find', 'the', 'longest', 'string', 'in', 'this', 'tuple') #46 Find the longest string
y1, z1, s1 = 0, 1, ''
find_tup = list(find_tup)
for item in find_tup:
    for element in item:
        y1 += 1 
    if y1 > z1:
        z1 = y1
        s1 = item
    y1 = 0
print('The longest string is:-', s1)

The longest string is:- longest

In [17]:
find_shortup = ['Find', 'the', 'shortest', 'string', 'in', 'this', 'tuple'] #47 Find the shortest tuple 
y2, z2, s2 = 0, 100, ''
for item in find_shortup:
    for element in item:
        y2 += 1 
    if y2 < z2:
        z2 = y2
        s2 = item
    y2 = 0
print('The shortest string is:-', s2)

The shortest string is:- in

In [22]:
n3 = int(input("Enter the value of n to receive n triangular numbers")) #48
j3,k3,tri3 = 1,1,[]
for i in range(1, n3 + 1):
    tri3.append(k3)
    j3 = j3 + 1 # Increasing j by 1
    k3 = k3 + j3 # Add value of j into k and update k
print(tuple(tri3))

Enter the value of n to receive n triangular numbers 3

(1, 3, 6)

In [23]:
check_tup = (1,2,3,4,5,(1,2,3)) #49 Check if a tuple contains another tuple 
check_tup = list(check_tup)
z = 0 
for i in check_tup:
    if type(i) == tuple:
        z = 1
if z == 1:
    print("The tuple contains another tuple")

The tuple contains another tuple

In [3]:
create_10 = [] #50 Create a tuple of alternating 1s and 0s of length 'n'
n_10 = int(input('Enter the length of the tuple'))
for item in range(0, n_10):
    if item%2 == 0:
        create_10.append(1)
    else:
        create_10.append(0)
print(tuple(create_10))

Enter the length of the tuple 5

(1, 0, 1, 0, 1)

In [ ]:
SETS

In [4]:
set1 = {1,2,3,4,5} #1 Create a set with integers from 1 to 5 
print(type(set1))

<class 'set'>

In [16]:
set2 = {1,2,3} #2 Add an element to a set 
set2 = list(set2)
set2.append(4)
print(set(set2))

{1, 2, 3, 4}

set3 = {1,2,3,4,5} #

In [18]:
set3 = {1,2,3,4,5} #3 Remove an element from a set 
set3 = list(set3) 
set3.remove(3)
print(set(set3))

{1, 2, 4, 5}

In [19]:
set4  = {1,2,3,4,5} #4 Check if an element exists in a set
set4 = list(set4)
n4 = int(input("Enter the element whose existence you want to check")) 
z = 0
for item in set4:
    if item == n4: 
        z = 1 
if z == 1: 
    print("Element exists")
else:
    print("element does not exist")

Enter the element whose existence you want to check 3

Element exists

In [20]:
set5 = {1,2,3,4,5} #5 Find the length of a set without using len() function 
set5 = list(set5)
n5 = 0 
for item in set5: 
    n5 += 1
print("The lenth of the set is",n5)

The lenth of the set is 5

In [2]:
set6 = {1,2,3,4} #6 Clear all elements of a set
set6 = list(set6)
set6.clear()
print(set(set6))

set()

In [5]:
set7 = [] #7 Create a set of even numbers from 1 to 10
for item in range(1,11):
    if item%2 == 0:
        set7.append(item)
print(set(set7))

{2, 4, 6, 8, 10}

In [9]:
set8 = [] #8 Create a set of odd numbers from 1 to 10
for item in range(1,11):
    if item%2 != 0:
        set8.append(item)
print(set(set8))

{1, 3, 5, 7, 9}

In [13]:
set9 = {1,2,3,4,5} #9 Find the Union of two sets 
set10 = {6,7,8}
set11 = list(set9) + list(set10)
print(set(set11))

{1, 2, 3, 4, 5, 6, 7, 8}

In [14]:
set12 = {1,2,3,4,5} #10 Find the intersection of two sets 
set13 = {4,5,6,7,8} 
set12 = list(set12)
set13 = list(set13) 
count = 0
z = []
for item1 in set12:
    for item2 in set13: 
        if item1 == item2:
            count += 1
            z.append(item2)
if count > 0:
    print("The intersection elements are: ",z)
else:
    print("There are no intersection elements")

The intersection elements are:  [4, 5]

In [19]:
set13 = {1,2,3,4,5} #11 Find the intersection of two sets 
set14 = {4,5,6,7,8} 
set13 = list(set13)
set14 = list(set14) 
count = 0
z = []
for item1 in set13:
    for item2 in set14: 
        if item1 == item2:
            break
        count += 1 
    if count == len(set14):
        z.append(item1)
    count = 0
for item3 in set14:
    for item4 in set13: 
        if item3 == item4:
            break
        count += 1 
    if count == len(set13):
        z.append(item3)
    count = 0
print(z)

[1, 2, 3, 6, 7, 8]

In [21]:
set15 = {1,2,3} #12 Check if a set is a subset of another set 
set16 = {6,5,4,3,2,1} 
set15 = list(set15) 
set16 = list(set16)
c1 = 0
for item5 in set15:
    for item6 in set16:
        if item5 == item6:
            c1 += 1
            break
if c1 == len(set15):
    print("Set15 is a subset of set16")
else:
    print("Set15 is not a subset of set16")

Set15 is a subset of set16

In [23]:
set15 = {1,2,3} #13 Check if a set is a superset of another set 
set16 = {6,5,4,3,2,1} 
set15 = list(set15) 
set16 = list(set16)
c1 = 0
for item6 in set16:
    for item7 in set15:
        if item7 == item6:
            c1 += 1
            break
if c1 == len(set15):
    print("Set15 is a superset of set16")
else:
    print("Set15 is not a superset of set16")

Set15 is a superset of set16

In [24]:
list17 = [1,2,3,4,5] #14 Create a set from a list
print(set(list17))

{1, 2, 3, 4, 5}

In [1]:
set17 = {1,2,3,4,5} #15 Convert a set to a list
print(list(set17))

[1, 2, 3, 4, 5]

In [2]:
set18 = {1,2,3,4,5} #16 Remove a random element from a set
set18 = list(set18)
set18.remove(4)
print(set(set18))

{1, 2, 3, 5}

In [4]:
set19 = {1,2,3,4,5} #17 Pop an element from a set
set19 = list(set19)
set19.pop()
print(set(set19))

{1, 2, 3, 4}

In [7]:
set20 = {1,2,3,4,5} #18 Check if two sets have no elements in common
set21 = {6,7,8,9} 
z1 = 0
for item in set20:
    for item2 in set21:
        if item == item2:
            z1 += 1
if z1 == 0:
    print("The two sets have no elements in common")
else:
    print("The two sets have at least 1 element in common")

The two sets have no elements in common

In [3]:
set22 = {1,2,3,4,5} #19 Find the symmetric difference between two sets 
set23 = {4,5,6,7,8,9}
print(set22.symmetric_difference(set23))

{1, 2, 3, 6, 7, 8, 9}

In [4]:
set24 = {1,2,3,4,5} #20 Update a set with elements from another set 
set25 = {6,7,8}
set24 = list(set24)
for item in set25:
    set24.append(item)
print(set(set24))

{1, 2, 3, 4, 5, 6, 7, 8}

In [1]:
list26 = [] #21 Create a set of the first 5 prime numbers 
a = 0
for i in range(2,12):
    for j in range (1, i+1):
        if i % j == 0:
            a += 1
    if a == 2:
        list26.append(i)
    a = 0
print(set(list26))

{2, 3, 5, 7, 11}

In [2]:
set27 = {1,2,3,2,5} #22 Check if 2 sets are identical
set28 = {2,4,2,5,1}
if set27 == set28:
    print('Tuples are identical')
else:
    print('Not identical')

Not identical

In [3]:
numbers = frozenset([1,2,3,4,5]) #23 Create a frozen set 
print(numbers)

frozenset({1, 2, 3, 4, 5})

In [5]:
set29 = {1,2,3,4,5} #24 Check if a set is disjoint with another set
set30 = {5,7,8,9,10}
print(set29.isdisjoint(set30))

False

In [7]:
set31 = [] #25 Create a set of squares of numbers from 1 to 5 
for item in range(1, 6):
    set31.append(item**2)
print(set(set31))

{1, 4, 9, 16, 25}

In [2]:
set32 = {1,2,3,5,6,7,8,9} #26 Filter out all even numbers from the set 
set33 = list(set32)
store = []
for item in set33:
    if item%2 == 0:
        store.append(item)
print(set(store))

{8, 2, 6}

In [3]:
set34 = {1,2,3,4,5} #27 Multiply all elements in a set by 2
list35 = list(set34)
list36 = []
for item35 in list35:
    list36.append(item35*2)
print(set(list36))

{2, 4, 6, 8, 10}

In [4]:
import random  #28 Create a set of random numbers 
set_random = [] 
for i in range(10):
    set_random.append(random.randint(1,100))
print(set_random)

[40, 84, 78, 39, 49, 24, 88, 10, 49, 43]

In [5]:
set37 = [] #29 Check if a set is empty 
if len(set37) == 0:
    print("the Set is empty")
else:
    print("The set is not empty")

the Set is empty

In [13]:
a = {frozenset([1, 2, 3]), frozenset([1, 2, 4])} #30 Create a nested set 
print(a)

{frozenset({1, 2, 3}), frozenset({1, 2, 4})}

In [14]:
set38 = {1,2,3,4,5} #31 Remove an element from a set using discard method 
set38.discard(3)
print(set38)

{1, 2, 4, 5}

In [15]:
A = {10, 20, 30, 40, 80} #32 Compare two sets
B = {100, 30, 80, 40, 60}
print (A - B)
print (B - A)

{10, 20}
{100, 60}

In [23]:
str39 = "This is a string" #33 Create a set from a string 
set39 = set(str39)
print(set39)

{'n', 'g', 's', 'a', ' ', 'r', 'i', 'T', 'h', 't'}

In [24]:
set40 = {'1','2','3','4','5'} #34 Convert a set of strings to a set of integers 
list41 = list(set40)
list42 = []
for item41 in list41:
    list42.append(int(item41))
set41 = set(list42)
print(set41)

{1, 2, 3, 4, 5}

In [26]:
set42 = {1,2,3,4,5} #35 Convert a set of integers to a set of strings 
list43 = list(set42)
list44 = []
for item44 in list43:
    list44.append(str(item44))
set45 = set(list44)
print(set45)

{'2', '1', '5', '3', '4'}

In [28]:
tup46 = (1,2,3) #36 Create a set from a tuple 
set46 = set(tup46)
print(set46)

{1, 2, 3}

In [30]:
set47 = {1,2,3,4,5} #37 Convert a set to a tuple 
tup48 = tuple(set47)
print(tup48)

(1, 2, 3, 4, 5)

In [31]:
set49 = {1,2,3,4,5} #39 Find the maximum value in a set 
print(max(set49))

5

In [32]:
set50 = {1,2,3,4,5} #40 Find the minimum value in a set
print(min(set50))

1

In [33]:
set51 = {1,2,3,4,5} #41 Check if the intersection of two sets is empty
set52 = {6,7,8,9,10}
z1 = 0
for item in set51:
    for item2 in set52:
        if item == item2:
            z1 += 1
if z1 == 0:
    print("The two sets have no elements in common")
else:
    print("The two sets have at least 1 element in common")

The two sets have no elements in common

In [8]:
fibonacci = [0] #42 Create a set of the first 5 Fibonacci numbers 
i = 1
for j in range(1,7):
    if len(fibonacci) == 5:
        break
    else:
        fibonacci.append(i)
        i += fibonacci[j-1]
print(set(fibonacci)) #The output contains only a single 1 because in a set the duplicates are removed

{0, 1, 2, 3}

In [9]:
list53 = [1,2,2,3,4,4] #43 Remove duplicates from a list using sets 
set53 = set(list53)
print(set53)

{1, 2, 3, 4}

In [2]:
set54 = {1,2,3,4,54,5,6,7,8,9}  #44 Check if two sets have the same elements regardless of their count
set55 = {6,3,7,8,12,34,45,66,88}
common = []
list54 = list(set54)
list55 = list(set55)
z1, z2, z3 = 0, 0, 0 
if len(list54) < len(list55):
    for item_1 in list54:
        for item_2 in list55:
            if item_1 == item_2:
                z1 += 1
                break
        if z1 == len(list54):
            print("Elements in set54 are in set55")
        else:
            print("elements of set54 are not in set 55")
        break
elif len(list54) == len(list55):
    for item_1 in list54:
        for item_2 in list55:
            if item_1 == item_2:
                z2 += 1
                break
        if z2 == len(list54):
            print("Elements in set54 are in set55")
        else:
            print("elements of set54 are not in set 55")
        break
else:
    for item_1 in list55:
        for item_2 in list54:
            if item_1 == item_2:
                z3 += 1
                break
        if z3 == len(list54):
            print("Elements in set54 are in set55")
        else:
            print("elements of set54 are not in set 55")
        break

elements of set54 are not in set 55

In [3]:
powers = [] #45 Create a set of the first n powers of 2
n = int(input("Enter the value upto which powers of 2 will be calculated"))
p = 2
for l in range(1, n+1):
    if l == 1:
        powers.append(2)
    else:
        for m in range(1, l):
            p = p * 2
        powers.append(p)
    p = 2
print(set(powers))

Enter the value upto which powers of 2 will be calculated 5

{32, 2, 4, 8, 16}

In [4]:
list56 = [1,2,3,4,54,5,6,7,8,9]  #46 Find the common elements between a set and a list.
set57 = [6,3,7,8,12,34,45,66,88]
common = []
set57 = list(set57)
for item_1 in list56:
    for item_2 in set57:
        if item_1 == item_2:
            common.append(item_1)
print('The common elements are:', common)

The common elements are: [3, 6, 7, 8]

In [5]:
n = int(input("Enter the value of n to receive n triangular numbers")) #47 
j,k,tri = 1,1,[]
for i in range(1, n + 1):
    tri.append(k)
    j = j + 1 # Increasing j by 1
    k = k + j # Add value of j into k and update k
print(set(tri))

Enter the value of n to receive n triangular numbers 5

{1, 3, 6, 10, 15}

In [12]:
set58 = {frozenset([1, 2, 3]), frozenset([1, 2, 4])} #48 Check if a set contains another set as a subset 
n1 = 0
for item in set58:
    if type(item) == frozenset:
        n1 += 1
if n1 > 0:
    print("Set contains another set as a subset")
else:
    print("Set does not contain another set as a subset")

Set contains another set as a subset

In [14]:
list59 = [] #49 Create a set of alternating 1s and 0s of length 'n'
n_11 = int(input('Enter the length of the set'))
for item in range(0, n_11):
    if item%2 == 0:
        list59.append(1)
    else:
        list59.append(0)
print(set(list59))

Enter the length of the set 5

{0, 1}

In [18]:
set60 = {1,2,3} # 50 Merge multiple sets into one
set61 = {4,5,6} 
set62 = {7,8,9} 
list60 = list(set60)
list61 = list(set61)
list62 = list(set62)
set63 = list60 + list61 + list62
print(set(set63))

{1, 2, 3, 4, 5, 6, 7, 8, 9}